<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CothCrew"
        tools:targetApi="31">
        <activity
            android:name=".activity.address.EditAddressActivity"
            android:exported="false" />
        <activity
            android:name=".activity.address.AddAddressActivity"
            android:exported="false" />
        <activity
            android:name=".activity.address.AddressActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddToCartActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".activity.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".TestingActivity"
            android:exported="false"
            android:label="@string/title_activity_testing"
            android:theme="@style/Theme.CothCrew" />
        <activity
            android:name=".activity.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.StoreLocationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CategoryStoreActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BodyMeasureActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SetupProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.auth.OTPActivity"
            android:exported="false" />
        <activity
            android:name=".activity.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.CothCrew">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>